
.tx-wowraid-pi1 {}

.tx-wowraid-pi1 .participants {width:70%;float:right;}

.tx-wowraid-pi1 .comments {width:100%;clear:both;}
.tx-wowraid-pi1 .comments .author {width:20%;}
.tx-wowraid-pi1 .comments .message {width:80%;}

.tx_wowraid_pi1_list {}
.tx_wowraid_pi1_list td {font-size:12px;}
.tx_wowraid_pi1_list img {border:0;}
.tx_wowraid_pi1_list img {border:0;}
